<div class="rectangle_mid_edit_home_recruit">

    <div class="container-xl" style="margin-left: 360px; margin-right: 300px;">
        <!-- Account page navigation-->
        {{!-- <nav class="nav nav-borders">
            <a class="nav-link active ms-0"
                href="https://www.bootdey.com/snippets/view/bs5-edit-profile-account-details"
                target="__blank">Profile</a>
            <a class="nav-link" href="https://www.bootdey.com/snippets/view/bs5-profile-billing-page"
                target="__blank">Billing</a>
            <a class="nav-link" href="https://www.bootdey.com/snippets/view/bs5-profile-security-page"
                target="__blank">Security</a>
            <a class="nav-link" href="https://www.bootdey.com/snippets/view/bs5-edit-notifications-page"
                target="__blank">Notifications</a>
        </nav>
        <hr class="mt-0 mb-4"> --}}
        {{!-- <div class="col-xl-4">
            <!-- Profile picture card-->
            <div class="card mb-4 mb-xl-0">
                <div class="card-header">Profile Picture</div>
                <div class="card-body text-center">
                    <!-- Profile picture image-->
                    <img class="img-account-profile rounded-circle mb-2"
                        src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                    <!-- Profile picture help block-->
                    <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
                    <!-- Profile picture upload button-->
                    <button class="btn btn-primary" type="button">Upload new image</button>
                </div>
            </div>
        </div> --}}
        {{!-- <div class="col-xl-8">
        </div> --}}
        <!-- Account details card-->
        <div class="card mb-7">
            <div class="card-header">Thay đổi mật khẩu</div>
            <div class="card-body">
                <form id="#formChangePassword" method="post" action="/auth/change_password" class="needs-validation"
            oninput='confirmNewPassword.setCustomValidity(confirmNewPassword.value != newPassword.value ? "Mật khẩu nhập lại không đúng !" : "")'>
                    {{#if message}}
                    <div class="alert alert-success mt-2">
                        {{message}}
                    </div>
                    {{/if}}

                    {{#if messageDanger}}
                    <div class="alert alert-danger mt-2">
                        {{messageDanger}}
                    </div>
                    {{/if}}

                    <!-- Form Row        -->
                    <div class="row gx-3 mb-3">
                        <div class="col-md-6">
                            <label class="small mb-1" for="province">Mật khẩu hiện tại</label>
                            <input class="form-control" id="province" type="password"
                                placeholder="Nhập mật khẩu hiện tại" name="password" required>
                        </div>
                    </div>
                    <!-- Form Row-->
                    <div class="row gx-3 mb-3">
                        <!-- Form Group (phone number)-->
                        <div class="col-md-6">
                            <label class="small mb-1" for="newPassword">Mật khẩu mới</label>
                            <input class="form-control" id="newPassword" type="password" placeholder="Nhập mật khẩu mới" name="newPassword" required>
                        </div>
                    </div>

                    <!-- Form Row-->
                    <div class="row gx-3 mb-3">
                        <!-- Form Group (phone number)-->
                        <div class="col-md-6">
                            <label class="small mb-1" for="confirmNewPassword">Nhập lại mật khẩu mới</label>
                            <input class="form-control" id="confirmNewPassword" type="password" placeholder="Nhập lại mật khẩu mới">
                        </div>
                    </div>
                    <!-- Save changes button-->
                    <button class="btn btn-primary" type="submit">Cập nhật</button>
                </form>
            </div>
        </div>
        {{!-- <div class="row">
        </div> --}}
    </div>
    
</div>


<style>
    .img-account-profile {
        height: 10rem;
    }

    .rounded-circle {
        border-radius: 50% !important;
    }

    .card .card-header {
        font-weight: 500;
    }

    .card-header:first-child {
        border-radius: 0.35rem 0.35rem 0 0;
    }

    .card-header {
        padding: 1rem 1.35rem;
        margin-bottom: 0;
        background-color: rgba(33, 40, 50, 0.03);
        border-bottom: 1px solid rgba(33, 40, 50, 0.125);
    }

    .form-control,
    .dataTable-input {
        display: block;
        width: 100%;
        padding: 0.875rem 1.125rem;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1;
        color: #69707a;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #c5ccd6;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.35rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .nav-borders .nav-link.active {
        color: #0061f2;
        border-bottom-color: #0061f2;
    }

    .nav-borders .nav-link {
        color: #69707a;
        border-bottom-width: 0.125rem;
        border-bottom-style: solid;
        border-bottom-color: transparent;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0;
        padding-right: 0;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    #upload {
        opacity: 0;
    }

    #upload-label {
        position: absolute;
        top: 50%;
        left: 1rem;
        transform: translateY(-50%);
    }

    .image-area {
        border: 2px dashed rgba(53, 48, 48, 0.7);
        padding: 1rem;
        position: relative;
    }

    .image-area::before {
        content: 'Uploaded image result';
        color: #fff;
        font-weight: bold;
        text-transform: uppercase;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1rem;
        z-index: 1;
    }

    .image-area img {
        z-index: 2;
        position: relative;
    }
    .card{
        height: 650px;
    }

</style>



{{!-- <script>

    /*
     $("#formChangePassword").submit(function(e) {
        e.preventDefault();
        $.ajax({
            url: "/change_password",
            type: "POST",
            success: function(data){
                console.log(data);
            }
        });
    });
    */


</script> --}}