<div class="rectangle_mid_detail_news_home_recruit">
    <div id="content_profile_company_recruit">
        <div id="info_profile_company_recruit">
            <div id="text_number_evaluate_company">
                Tất cả
                <div id="number_job_searched">{{{data.user.list_reviews.length}}}</div>
                lượt đánh giá
            </div>

            <div id="list_item_rating">

            </div>

            <nav aria-label="Page navigation example" id="nav_page_list_evaluate_company">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<script>
    // const list_reviews = "{{{ data.user.list_reviews }}}"
    const list_rating = {{{ data.list_reviews }}}

    for (let i = 0; i < list_rating.length; i++) {
        $("#list_item_rating").append(`
            <div class="item_evaluate">
                <img src="${list_rating[i].avatar_candidate}" class="ic_avatar_evaluate" alt="ic_avatar_evaluate" />
                <div class="name_candidate_evaluate" id="${list_rating[i].belong_candidate}">${list_rating[i].name_candidate}</div>
                <img src="/css/style/image/ic_star.svg" id="evaluate_candidate_star1" alt="evaluate_star1" />
                <img src="/css/style/image/ic_star.svg" id="evaluate_candidate_star2" alt="evaluate_star2" />
                <img src="/css/style/image/ic_star.svg" id="evaluate_candidate_star3" alt="evaluate_star3" />
                <img src="/css/style/image/ic_star.svg" id="evaluate_candidate_star4" alt="evaluate_star4" />
                <img src="/css/style/image/ic_star.svg" id="evaluate_candidate_star5" alt="evaluate_star5" />
                <div class="value_evaluate">${list_rating[i].description}</div>
            </div>
        `)
    }

    $(".name_candidate_evaluate").click(function () {
        $(location).attr("href", "/employer/profile_candidate?id=" + $(this).attr("id"))
    })
</script>