<div class="rectangle_mid_detail_news_home_recruit">
    <div id="content_profile_company_recruit">
        <div id="info_profile_company_recruit">
            <div id="text_number_evaluate_company">
                Tất cả
                <div id="number_job_searched">{{length}} đánh giá</div>
            </div>

            <div id="list_item_rating">

            </div>

            <nav aria-label="Page navigation example" id="nav_page_list_evaluate_company">
                <ul class="pagination">
                    {{!--
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    --}}
                </ul>
            </nav>
            <div style="height: 30px;" display="none"></div>
        </div>
    </div>
</div>

<script>
    // const list_reviews = "{{{ data.user.list_reviews }}}"
    const list_rating = {{{ data.list_reviews }}}
    var numbers = [];
    if (list_rating.length % 5 == 0) {
        for (let i = 1; i <= list_rating.length / 5; i++) {
            numbers.push(i);
        }
    } else {
        for (let i = 1; i <= list_rating.length / 5 + 1; i++) {
            numbers.push(i);
        }
    }
    if (numbers.length > 1) {

        for (let i = 0; i < numbers.length; i++) {

            $(".pagination").append(`
             <li class="page-item ${numbers[i]}"  ><a class="page-link" onclick="page(this.id)" id="${numbers[i]}">${numbers[i]}</a></li>
        `)
        }
    }
    window.onload = page(1);

    function page(page) {
        for (let i = 0; i < numbers.length; i++) {
            if (numbers[i] == page) {
                $('.' + page).addClass('active');

            }
            else {
                $('.' + numbers[i]).removeClass('active');

            }
        }
        var tr = $(".item_evaluate");
        for (i = 0; i < tr.length; i++) {
            tr[i].remove();
        }
        page = parseInt(page);
        var _list_review = list_rating.slice(5 * (page - 1), 5 * (page - 1) + 5);
        for (let i = 0; i < _list_review.length; i++) {
            var star = _list_review[i].star;

            var str = "";
            for (let i = 1; i <= 5; i++) {
                if (i <= star) {
                    str += `<img src="/css/style/image/ic_star.svg" id="evaluate_candidate_star${i}" alt="evaluate_star1" />`;
                }
                else {
                    str += `<img src="/css/style/image/ic_star_empty.svg" id="evaluate_candidate_star${i}" alt="evaluate_star1" />`;
                }
            }
            $("#list_item_rating").append(`
            <div class="item_evaluate">
                <img src="${_list_review[i].avatar}" class="ic_avatar_evaluate" alt="ic_avatar_evaluate" />
                <div class="name_candidate_evaluate" id="${_list_review[i].belong_candidate}">${_list_review[i].name}</div>
                ${str}
                <div class="value_evaluate">${_list_review[i].description}</div>
            </div>
        `)


        }
    }

    $(".name_candidate_evaluate").click(function () {
        $(location).attr("href", "/employer/profile_candidate?id=" + $(this).attr("id"))
    })


</script>