<div class="rectangle_mid_2_detail_job">
    <div class="modal fade" id="modal_evaluate_employer" tabindex="-1" aria-labelledby="modal_updateLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <img src="/css/style/image/logo_company.svg" alt="logo_company"
                        class="logo_employer_modal_evaluate">
                    <div class="name_employer_modal_evaluate">VNG Games</div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="/candidate/evaluate_employer" method="post" >
                    <div class="modal-body modal_body_evaluate">
                        <div id="text_evaluate_quality">Đánh giá chất lượng: </div>
                        <img src="/css/style/image/ic_star_empty.svg" id="evaluate_modal_star1" alt="evaluate_star1" onclick="s(this.id)">
                        <img src="/css/style/image/ic_star_empty.svg" id="evaluate_modal_star2" alt="evaluate_star2" onclick="s(this.id)">
                        <img src="/css/style/image/ic_star_empty.svg" id="evaluate_modal_star3" alt="evaluate_star3" onclick="s(this.id)">
                        <img src="/css/style/image/ic_star_empty.svg" id="evaluate_modal_star4" alt="evaluate_star4" onclick="s(this.id)">
                        <img src="/css/style/image/ic_star_empty.svg" id="evaluate_modal_star5" alt="evaluate_star5" onclick="s(this.id)">
                        <input type="text" name="star" value="5" id="result_star"
                            style="display: none;">
                        <div id="text_content_modal_evaluate">Nội dung:</div>
                        <textarea name="content" class="form-control" id="content_evaluate" required
                            placeholder="Đánh giá của bạn về nhà tuyển dụng"></textarea>
                        <input type="text" name="id_employer" value="{{_id_employer}}"
                            style="display: none;">
                        <button type="button" id="close_modal_evaluate" data-bs-dismiss="modal">Hủy</button>
                        <button type="submit" id="submit_modal_evaluate">Gửi</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="header_employer_view_profile">
        <img src="/css/style/image/logo_company.svg" alt="logo_company" class="logo_employer_view_profile">
        <div class="name_employer_view_profile">VNG Games</div>
        <div class="hotline_profile_employer">Hotline: 0812204912</div>

        <button type="button" class="btn_apply_to_company_detail_job" data-bs-toggle="modal"
            data-bs-target="#modal_evaluate_employer">Đánh giá</button>
    </div>

    <div class="detail_profile_employer">
        <div id="text_list_news_view_profile">Danh sách tin tuyển dụng của công ty</div>

        <div id="rectangle_list_news">

        </div>

        <nav aria-label="Page navigation example" id="nav_page_profile_employer">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>

        <div id="rectangle_evaluate_detail_account">
            <div id="text_evaluate_total"> Đánh giá tổng thể </div>
            <div id="value_evaluate_total">{{total_rating}}</div>
            <img src="/css/style/image/ic_star.svg" id="evaluate_star1" alt="evaluate_star1">
            <img src="/css/style/image/ic_star.svg" id="evaluate_star2" alt="evaluate_star2">
            <img src="/css/style/image/ic_star.svg" id="evaluate_star3" alt="evaluate_star3">
            <img src="/css/style/image/ic_star.svg" id="evaluate_star4" alt="evaluate_star4">
            <img src="/css/style/image/ic_star.svg" id="evaluate_star5" alt="evaluate_star5">
            <a id="btn_list_evaluate_company" href="">Xem tất cả đánh giá</a>

        </div>

        <div id="rectangle_infor_company">
            <div id="title_infor_company_detail_job">Thông tin chi tiết</div>
            <div class="circle_icon" id="circle_house_company_detail_job"></div>
            <img src="/css/style/image/ic_house.svg" alt="ic_house" id="ic_house_company_detail_job">
            <div id="text_introduce_company_detail_job">Giới thiệu</div>
            <pre id="introduce_company_detail_job">
Korea - Vietnam IT Outsourcing Frontier!
We are a startup established to provide Vietnamese IT technology and software development technology 
to Korean companies. We aim to grow into an IT software outsourcing company with more than 300
employees within the next 5 years
Web or Mobile Applications
We develop web or mobile applications requested by Korean companies. It is mainly software for
accounting, payroll, healthcare, and apartment management business.
            </pre>
            <div id="rectangle_scale_compayny">
                <div class="circle_icon" id="circle_person_company_detail_job"></div>
                <img src="/css/style/image/ic_persons.svg" alt="ic_persons" id="ic_persons_company_detail_job">
                <div id="text_scale_company_detail_job">Email</div>
                <div id="value_scale_company_detail_job">baobaobao@gmail.com</div>
            </div>
            <div id="rectangle_address_compayny">
                <div class="circle_icon" id="circle_address_company_detail_job"></div>
                <img src="/css/style/image/ic_select_province.svg" alt="ic_province"
                    id="ic_province_company_detail_job">
                <div id="text_province_company_detail_job">Địa điểm</div>
                <div id="value_province_company_detail_job">Linh Trung, Thủ Đức, Hồ Chí Minh</div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
    integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
    crossorigin="anonymous"></script>

<script>
    function s(id){
        console.log(id);
        var temp=id[id.length-1];
        var s=id.slice(0,id.length-1);
        var x=parseInt(temp);
        for(let i=1;i<=x;i++)
        {
            $("#"+s+i.toString()).attr("src", "/css/style/image/ic_star.svg");
        }
        for(let j=5;j>x;j--)
        {
                        $("#"+s+j.toString()).attr("src", "/css/style/image/ic_star_empty.svg");

        }
         $("#result_star").attr("value", x);

        
    }

    var inputs = document.querySelectorAll('.inputfile');
    Array.prototype.forEach.call(inputs, function (input) {
        var label = input.nextElementSibling,
            labelVal = document.getElementById("label_file").innerHTML;

        input.addEventListener('change', function (e) {
            var fileName = '';
            fileName = e.target.value.split('\\').pop()

            if (fileName)
                document.getElementById("label_file").innerHTML = fileName;
            else
                document.getElementById("label_file").innerHTML = labelVal;
        });
    });



    // get info to render 
    const _info_employer = {{{ data.info_employer }}}
    const _list_recruitments = {{{ data.list_recruitments }}}

    // render modal
    $(".name_employer_modal_evaluate").html(_info_employer.office)
    $(".logo_employer_modal_evaluate").attr("src", _info_employer.avatar)

    // render profile
    $(".name_employer_view_profile").html(_info_employer.office)
    $(".hotline_profile_employer").html(`Hotline: ${_info_employer.phone}`)
    $(".logo_employer_view_profile").attr("src", _info_employer.avatar)
    $("#value_evaluate_total").html(_info_employer.rating)
    $("#introduce_company_detail_job").text(_info_employer.introduce || "")
    $("#value_scale_company_detail_job").html(_info_employer.email)
    $("#value_province_company_detail_job").html(_info_employer.district + ", " + _info_employer.province)
    $("#btn_list_evaluate_company").attr("href", "/candidate/view_rating?id=" + _info_employer.idEmployer)

    // render list recruitments
    for (let i = 0; i < _list_recruitments.length; i++) {
        if (_list_recruitments[i].status == "approved") {
            let _date = new Date(_list_recruitments[i].creation_date._seconds * 1000);
            let creation_date = _date.getDate() + "/" + (_date.getMonth() + 1) + "/" + _date.getFullYear()

            $("#rectangle_list_news").append(`
                <div class="item_news_view_profile p-2 m-2">
                    <img src="${_info_employer.avatar}" alt="logo" class="logo_company_home_candidate">
                    <a class="title_recuit_company_home_candidate">${_list_recruitments[i].title}</a>
                    <div class="wage_copany_home_candidate">${_list_recruitments[i].min_salary}-${_list_recruitments[i].max_salary} triệu</div>
                    <div class="address_company_home_candidate">${_list_recruitments[i].min_salary}</div>
                    <div class="experience_company_home_candidate">${_list_recruitments[i].experience}</div>
                    <img src="/css/style/image/ic_time.svg" alt="ic_time" class="ic_time_card_company">
                    <div class="time_card_company">Cập nhật gần nhất: ${creation_date}</div>
                </div>
            `)
        }
    }
</script>