<div id="rectangle_mid_forget_password">
    <div id="rectangle_form_reset_password">
        <div id="text_setup_password">Đặt lại mật khẩu của bạn</div>
        <div id="text_please_fill">Vui lòng nhập đia chỉ email để khôi phục tài khoản của bạn</div>
        <form action="">
            <div id="label_email_forget_password">Email</div>
            <input type="email" name="email_signin" id="email_forget_password" required
                placeholder="Nhập email của bạn">
            <img src="/css/style/image/logo_email.svg" id="logo_email_forget_password" alt="logo_email_forget_password">
            <button type="submit" id="submit_forget_password">Gửi</button>
        </form>

    </div>
    <div id="rectangle_image_forget_password">
        <img src="/css/style/image/side_forget_password.svg" id="side_forget_password" alt="side_forget_password">

    </div>
</div>