<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style/css/css.css" />
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.6.1.js"></script>
    <title>Document</title>
  </head>

  <body>
    <div class="rectangle_home">
      <nav class="navbar navbar-expand-lg navbar-light header">
        <img id="logo_web" src="./style/image/logo_web.svg" alt="logoweb" />
        <a href="#" id="find_job">Tìm việc làm</a>
        <a href="#" id="list_company">Danh sách công ty</a>
        <a href="#" id="blog">Blog</a>
        <button id="btn_login">Đăng nhập</button>
        <button id="btn_signin">Đăng ký</button>
        <button id="btn_switch_recruiter">
          Dành cho nhà tuyển dụng
          <img src="./style/image/right_arrow.svg" id="ic_right_arrow" alt="go" />
        </button>
      </nav>

      <div id="rectangle_mid_account_authe">
        <div id="rectangle_form_account_authe">
          <div id="text_account_authe">Xác thực tài khoản</div>
          <div id="text_please_fill_code_confirm">Vui lòng kiểm tra email của bạn để lấy mã xác nhận</div>
          <form action="">
            <div id="label_code_confirm">Mã xác nhận</div>
            <input type="text" name="code_confirm_account" id="code_confirm_account" required placeholder="Nhập mã xác nhận" />
            <button type="submit" id="submit_account_authe">Xác nhận</button>
          </form>
        </div>
        <div id="rectangle_image_account_authe">
          <img src="./style/image/side_account_authe.svg" id="side_account_authe" alt="side_account_authe" />
        </div>
      </div>

      <div class="footer">
        <img id="logo_web_footer" src="./style/image/logo_web.svg" alt="logoweb" />
        <p id="text_info_footer">Chúng tôi là JORE hệ thống tìm kiếm việc làm uy tính tại Việt Nam</p>
      </div>
    </div>
  </body>
</html>
