<nav class="navbar navbar-expand-lg navbar-light header">
            <img id="logo_web" src="/css/style/image/logo_web.svg" alt="logoweb">
            <a href="#" id="find_job">Tìm việc làm</a>
            <a href="#" id="list_company">Danh sách công ty</a>
            <a href="#" id="blog">Blog</a>
            <button id="btn_login">Đăng nhập</button>
            <button id="btn_signin">Đăng ký</button>
            <button id="btn_switch_recruiter">Dành cho nhà tuyển dụng
                <img src="/css/style/image/right_arrow.svg" id="ic_right_arrow" alt="go">
            </button>
        </nav>