<nav class="navbar navbar-expand-lg navbar-light header">
    <img id="logo_web" src="./style/image/logo_web.svg" alt="logoweb">
    <a href="#" id="find_job">Tìm việc làm</a>
    <a href="#" id="list_company">Danh sách công ty</a>
    <a href="#" id="blog">Blog</a>
    <button id="btn_login"><a id="btn_login_recruit" href="#">Đăng nhập</a></button>
    <button id="btn_signin"><a id="btn_signin_recruit" href="#">Đăng ký</a></button>
</nav>