<div class="side_left_home_recruit">
    <a id="menu_news_home_recruit" href="#">Bảng tin
        <img src="/css/style/image/ic_news.svg" id="ic_news_home_recruit" alt="ic_news_home_recruit">
    </a>
    <a id="menu_manage_recruit_home_recruit" href="#">Quản lý tin tuyển dụng
        <img src="/css/style/image/ic_management_recruit.svg" id="ic_manage_recruit_home_recruit"
            alt="ic_manage_recruit_home_recruit">
    </a>
    <a id="menu_manage_record_home_recruit" href="#">Quản lý hồ sơ ứng viên
        <img src="/css/style/image/ic_management_record.svg" id="ic_manage_record_home_recruit"
            alt="ic_manage_record_home_recruit">
    </a>
    <div id="line"></div>
    <div id="text_version">©️2022 JORE. All rights reversed.</div>
</div>