<nav class="navbar navbar-expand-lg navbar-light header">
    <a href="/employer/homepage"><img id="logo_web_home_recruit" src="/css/style/image/logo_web.svg" alt="logoweb"></a>
    <a id="post_news_recruit" href="/employer/edit_recruitment">Đăng tin
        <img src="/css/style/image/ic_post_news.svg" id="ic_post_news_home_recruit" alt="ic_post_news_home_recruit">
    </a>
    <a id="chat_recruit" href="#">Kết nối
        <img src="/css/style/image/ic_chat.svg" id="ic_chat_home_recruit" alt="ic_chat_home_recruit">
    </a>
    <div class="circle_icon_recruit">
        <img src="/css/style/image/ic_notify_white.svg" id="ic_notify_recruit" alt="ic_notify_candidate">
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="menu_account_recruit" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Dương Minh Hiếu
            <img src="/css/style/image/avatar_candidate.svg" id="avatar_recruit" alt="avatar_recruit">
        </button>
        <div class="dropdown-menu" id="dropdown_menu_recruit" aria-labelledby="menu_account_recruit">
            <a class="dropdown-item" id="setting_account_recruit" href="#">Cài đặt tài khoản
                <img src="/css/style/image/ic_setting_account.svg" id="ic_setting_account_candidate"
                    alt="ic_setting_account_candidate">
            </a>
            <a class="dropdown-item" id="application_management_candidate" href="/employer/manage_recruitments">Quản lý
                hồ sơ ứng tuyển
                <img src="/css/style/image/ic_managed_application.svg" id="ic_application_management_candidate"
                    alt="ic_application_management_candidate">
            </a>
            <a class="dropdown-item" id="logout_recruit" href="#">Đăng xuất
                <img src="/css/style/image/ic_logout.svg" id="ic_logout_candidate" alt="ic_logout_candidate">
            </a>

        </div>
    </div>
</nav>