<div class="side_left_home_recruit">
    <a id="menu_news_home_recruit" href="/employer" class="menu_item is_selected">Bảng tin
        <img src="/css/style/image/ic_news.svg" id="ic_news_home_recruit" alt="ic_news_home_recruit">
    </a>
    <a id="menu_manage_recruit_home_recruit" href="/employer/manage_recruitments" class="menu_item">Quản lý tin tuyển
        dụng
        <img src="/css/style/image/ic_management_recruit.svg" id="ic_manage_recruit_home_recruit"
            alt="ic_manage_recruit_home_recruit">
    </a>
    <a id="menu_manage_record_home_recruit" href="/employer/profile" class="menu_item">Trang cá nhân
        <img src="/css/style/image/ic_management_record.svg" id="ic_manage_record_home_recruit"
            alt="ic_manage_record_home_recruit">
    </a>
    <div id="line"></div>
    <div id="text_version">©️2022 JORE. All rights reversed.</div>
</div>

<style>
    .is_selected {
        color: #00B4D8 !important;
    }
</style>