<nav class="navbar navbar-expand-lg navbar-light header">
    <img id="logo_web" src="/css/style/image/logo_web.svg" alt="logoweb">
    <a href="#" id="find_job">Tìm việc làm</a>
    <a href="#" id="list_company">Danh sách công ty</a>
    <a href="#" id="blog">Blog</a>
    <button id="btn_login"><a id="btn_login_candidate" href="/candidate/login">Đăng nhập</a></button>
    <button id="btn_signin"><a id="btn_signin_candidate" href="/candidate/signup">Đăng ký</a></button>
    <a id="btn_switch_recruiter" href="http://localhost:3033/candidate/login">Dành cho nhà tuyển dụng</a>
    <img src="/css/style/image/right_arrow.svg" id="ic_right_arrow" alt="go">
</nav>