
<div class="rectangle_mid">
    <img src="/css/style/image/welcome to JORE.svg" alt="welcome" id="welcome">
    <form action="">
        <input type="search" name="search" id="search" placeholder="Tìm kiếm việc làm">
        <img src="/css/style/image/ic_search.svg" alt="ic_search" id="ic_search">
        <select name="select_province" id="select_province" required="">
            <option value="" class="op_select_province">Hồ Chí Minh</option>
            <option value="" class="op_select_province">Hà Nội</option>
        </select>
        <img src="/css/style/image/ic_select_province.svg" alt="ic_select_province" id="ic_select_province">
        <input id="address_work" name="address_work" type="hidden" value="">
        <button type="submit" id="btn_search">Tìm việc ngay</button>
    </form>
</div>
<div class="rectangle_mid_2">
    <div class="rectangle_content_home">
        <h4 id="text_info_content_home">Tin tuyển dụng, việc làm được quan tâm nhất</h4>
        <div class="d-flex flex-wrap card_company">
            <div class="item_company p-2 m-2">
                <img src="/css/style/image/logo_web.svg" alt="logo" class="logo_company_home">
                <div class="title_recuit_company_home">Front-End Web Developer</div>
                <div class="name_company_home">VNG Games</div>
                <div class="wage_copany_home">12-20 triệu</div>
                <div class="address_company_home">Hà Nội, Trường Sa</div>

            </div>


        </div>
    </div>
</div>