<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/css/css.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.6.1.js"></script>
    <title>Document</title>
    <style>

    </style>
</head>

<body>
    <div class="rectangle_home">
        <nav class="navbar navbar-expand-lg navbar-light header">
            <img id="logo_web" src="./style/image/logo_web.svg" alt="logoweb">
            <a href="#" id="find_job">Tìm việc làm</a>
            <a href="#" id="list_company">Danh sách công ty</a>
            <a href="#" id="blog">Blog</a>
            <img src="./style/image/notify_candidate.svg" id="ic_notify_candidate" alt="ic_notify_candidate">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="menu_account_candidate"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dương Minh Hiếu
                    <img src="./style/image/avatar_candidate.svg" id="avatar_candidate" alt="avatar_candidate">
                </button>
                <div class="dropdown-menu" id="dropdown_menu_candidate" aria-labelledby="menu_account_candidate">
                    <a class="dropdown-item" id="setting_account_candidate" href="#">Cài đặt tài khoản
                        <img src="./style/image/ic_setting_account.svg" id="ic_setting_account_candidate"
                            alt="ic_setting_account_candidate">
                    </a>
                    <a class="dropdown-item" id="application_management_candidate" href="#">Quản lý hồ sơ ứng tuyển
                        <img src="./style/image/ic_managed_application.svg" id="ic_application_management_candidate"
                            alt="ic_application_management_candidate">
                    </a>
                    <a class="dropdown-item" id="logout_candidate" href="#">Đăng xuất
                        <img src="./style/image/ic_logout.svg" id="ic_logout_candidate" alt="ic_logout_candidate">
                    </a>

                </div>
            </div>
        </nav>

        <div class="rectangle_mid_2_detail_job">
            <div class="modal fade" id="modal_evaluate_employer" tabindex="-1" aria-labelledby="modal_updateLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <img src="./style/image/logo_company.svg" alt="logo_company" class="logo_employer_modal_evaluate">
                            <div class="name_employer_modal_evaluate">VNG Games</div>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form action="/candidate/detail_job/upload_cv" method="post" enctype="multipart/form-data">
                            <div class="modal-body modal_body_evaluate">
                                <div id="text_evaluate_quality">Đánh giá chất lượng: </div>
                                <img src="./style/image/ic_star_empty.svg" id="evaluate_modal_star1"
                                alt="evaluate_star1">
                                <img src="./style/image/ic_star_empty.svg" id="evaluate_modal_star2"
                                alt="evaluate_star2">
                                <img src="./style/image/ic_star_empty.svg" id="evaluate_modal_star3"
                                alt="evaluate_star3">
                                <img src="./style/image/ic_star_empty.svg" id="evaluate_modal_star4"
                                alt="evaluate_star4">
                                <img src="./style/image/ic_star_empty.svg" id="evaluate_modal_star5"
                                alt="evaluate_star5">
                                <div id="text_content_modal_evaluate">Nội dung:</div>
                                <textarea name="introduce" class="form-control" id="content_evaluate" required
                                    placeholder="Đánh giá của bạn về nhà tuyển dụng"></textarea>
                                <input type="text" name="id_recruitment" value="{{data.idDocRecruitment}}" style="display: none;">
                                <button type="button" id="close_modal_evaluate" data-bs-dismiss="modal">Hủy</button>
                                <button type="submit" id="submit_modal_evaluate">Gửi</button>
                            </div>
            
            
                        </form>
                    </div>
                </div>
            </div>

            <div class="header_employer_view_profile">
                <img src="./style/image/logo_company.svg" alt="logo_company" class="logo_employer_view_profile">
                <div class="name_employer_view_profile">VNG Games</div>
                <div class="hotline_profile_employer">Hotline: 0812204912</div>

                <button type="button" class="btn_apply_to_company_detail_job" data-bs-toggle="modal"
                    data-bs-target="#modal_evaluate_employer">Đánh giá</button>
            </div>
            
            <div class="detail_profile_employer">
                <div id="text_list_news_view_profile">Danh sách tin tuyển dụng của công ty</div>
        
                <div id="rectangle_list_news">
                    <div class="item_news_view_profile p-2 m-2">
                        <img src="" alt="logo" class="logo_company_home_candidate">
                        <a class="title_recuit_company_home_candidate">Front-End Web Developer</a>
                        <div class="wage_copany_home_candidate">10-12 triệu</div>
                        <div class="address_company_home_candidate">Hồ Chí Minh</div>
                        <div class="experience_company_home_candidate">3-5 năm</div>
                        <img src="/css/style/image/ic_time.svg" alt="ic_time" class="ic_time_card_company">
                        <div class="time_card_company">Cập nhật gần nhất: 1/11/2021</div>
                    </div>
                </div>
                <div id="rectangle_list_news">
                    <div class="item_news_view_profile p-2 m-2">
                        <img src="" alt="logo" class="logo_company_home_candidate">
                        <a class="title_recuit_company_home_candidate">Front-End Web Developer</a>
                        <div class="wage_copany_home_candidate">10-12 triệu</div>
                        <div class="address_company_home_candidate">Hồ Chí Minh</div>
                        <div class="experience_company_home_candidate">3-5 năm</div>
                        <img src="/css/style/image/ic_time.svg" alt="ic_time" class="ic_time_card_company">
                        <div class="time_card_company">Cập nhật gần nhất: 1/11/2021</div>
                    </div>
                </div>
                <div id="rectangle_list_news">
                    <div class="item_news_view_profile p-2 m-2">
                        <img src="" alt="logo" class="logo_company_home_candidate">
                        <a class="title_recuit_company_home_candidate">Front-End Web Developer</a>
                        <div class="wage_copany_home_candidate">10-12 triệu</div>
                        <div class="address_company_home_candidate">Hồ Chí Minh</div>
                        <div class="experience_company_home_candidate">3-5 năm</div>
                        <img src="/css/style/image/ic_time.svg" alt="ic_time" class="ic_time_card_company">
                        <div class="time_card_company">Cập nhật gần nhất: 1/11/2021</div>
                    </div>
                </div>
                <div id="rectangle_list_news">
                    <div class="item_news_view_profile p-2 m-2">
                        <img src="" alt="logo" class="logo_company_home_candidate">
                        <a class="title_recuit_company_home_candidate">Front-End Web Developer</a>
                        <div class="wage_copany_home_candidate">10-12 triệu</div>
                        <div class="address_company_home_candidate">Hồ Chí Minh</div>
                        <div class="experience_company_home_candidate">3-5 năm</div>
                        <img src="/css/style/image/ic_time.svg" alt="ic_time" class="ic_time_card_company">
                        <div class="time_card_company">Cập nhật gần nhất: 1/11/2021</div>
                    </div>
                </div>
                <nav aria-label="Page navigation example" id="nav_page_profile_employer">
                    <ul class="pagination">
                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                          <span class="sr-only">Previous</span>
                        </a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                          <span class="sr-only">Next</span>
                        </a>
                      </li>
                    </ul>
                  </nav>
                  <div id="rectangle_evaluate_detail_account">
                    <div id="text_evaluate_total">
                        Đánh giá tổng thể
                        
                    </div>
                    <div id="value_evaluate_total">3,5</div>
                    <img src="./style/image/ic_star.svg" id="evaluate_star1"
                    alt="evaluate_star1">
                    <img src="./style/image/ic_star.svg" id="evaluate_star2"
                    alt="evaluate_star2">
                    <img src="./style/image/ic_star.svg" id="evaluate_star3"
                    alt="evaluate_star3">
                    <img src="./style/image/ic_star.svg" id="evaluate_star4"
                    alt="evaluate_star4">
                    <img src="./style/image/ic_star.svg" id="evaluate_star5"
                    alt="evaluate_star5">
                    <a id="btn_list_evaluate_company" href="#">Xem tất cả đánh giá</a>

                </div>
                <div id="rectangle_infor_recruit">
                    <div id="title_infor_company_detail_job">Thông tin chi tiết</div>
                    <div class="circle_icon" id="circle_house_company_detail_job"></div>
                    <img src="./style/image/ic_house.svg" alt="ic_house" id="ic_house_company_detail_job">
                    <div id="text_introduce_company_detail_job">Giới thiệu</div>
                    <pre id="introduce_company_detail_job">
Korea - Vietnam IT Outsourcing Frontier!
We are a startup established to provide Vietnamese IT technology and software development technology 
to Korean companies. We aim to grow into an IT software outsourcing company with more than 300
employees within the next 5 years
Web or Mobile Applications
We develop web or mobile applications requested by Korean companies. It is mainly software for
accounting, payroll, healthcare, and apartment management business.
 
                </pre>
                    <div id="rectangle_scale_compayny">
                        <div class="circle_icon" id="circle_person_company_detail_job"></div>
                        <img src="./style/image/ic_persons.svg" alt="ic_persons" id="ic_persons_company_detail_job">
                        <div id="text_scale_company_detail_job">Email</div>
                        <div id="value_scale_company_detail_job">baobaobao@gmail.com</div>
                    </div>
                    <div id="rectangle_address_compayny">
                        <div class="circle_icon" id="circle_address_company_detail_job"></div>
                        <img src="./style/image/ic_select_province.svg" alt="ic_province"
                            id="ic_province_company_detail_job">
                        <div id="text_province_company_detail_job">Địa điểm</div>
                        <div id="value_province_company_detail_job">Linh Trung, Thủ Đức, Hồ Chí Minh</div>
                    </div>

                </div>
            </div>

            <div class="footer">
                <img id="logo_web_footer" src="./style/image/logo_web.svg" alt="logoweb">
                <p id="text_info_footer">Chúng tôi là JORE hệ thống tìm kiếm việc làm uy tính tại Việt Nam</p>
            </div>

        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
            integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
            crossorigin="anonymous"></script>

</body>
<script>
    var inputs = document.querySelectorAll('.inputfile');
    Array.prototype.forEach.call(inputs, function (input) {
        var label = input.nextElementSibling,
            labelVal = document.getElementById("label_file").innerHTML;

        input.addEventListener('change', function (e) {
            var fileName = '';
            fileName = e.target.value.split('\\').pop()

            if (fileName)
                document.getElementById("label_file").innerHTML = fileName;
            else
                document.getElementById("label_file").innerHTML = labelVal;
        });
    });

</script>

</html>