<div id="content_home_admin">
                <a id="rectangle_news_posted" href="/admin/manage_news/list_news_approved">
                    <div id="quantity_news_approved">0</div>
                    <div id="text_news_approved">Các tin đã duyệt</div>
                    <img src="/css/style/image/ic_megaphone.svg" id="ic_megaphone_home_recruit" alt="ic_megaphone_home_recruit">
                </a>
                <a id="rectangle_candidate_received" href="/admin/manage_news/list_news_pending">
                    <div id="quantity_news_unapproved">10</div>
                    <div id="text_news_unapproved">Các tin chờ duyệt</div>
                    <img src="/css/style/image/ic_candidate_recieve.svg" id="ic_receive_home_recruit" alt="ic_receive_home_recruit">
                </a>
              
           </div>