<div id="rectangle_mid_login">
    <div id="rectangle_form_login">
        <div id="text_welcome_login">Chào mừng bạn trở lại</div>
        <img src="/css/style/image/text_login_by_account.svg" id="text_login_by_account" alt="text_login_by_account">
        <form method="post" action="/auth/sign_in">
            <div id="label_email">Email</div>
            <input type="email" name="email" id="email_login" required placeholder="Nhập email của bạn">
            <img src="/css/style/image/logo_email.svg" id="logo_email" alt="logo_email">
            <div id="label_password">Mật khẩu</div>
            <input type="password" name="password" id="password_login" required
                placeholder="Nhập mật khẩu">
            <img src="/css/style/image/logo_password.svg" id="logo_password" alt="logo_password">
            <img src="/css/style/image/eye-slash.svg" id="eye_slash_password" alt="eye_slash_password">
            <button type="submit" id="submit_form_login">Đăng nhập</button>
        </form>
        <a href="/admin/forgot_pw" id="forget_password_admin">Quên mật khẩu?</a>
    </div>
    <div id="rectangle_image_login">
        <img src="/css/style/image/side_login.svg" id="side_login" alt="login">

    </div>
</div>