<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/css/css.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.1.js"></script>
    <title>Document</title>
</head>

<body>
    <div class="rectangle_home">
        <nav class="navbar navbar-expand-lg navbar-light header">
            <img id="logo_web" src="./style/image/logo_web.svg" alt="logoweb">
            <a href="#" id="find_job">Tìm việc làm</a>
            <a href="#" id="list_company">Danh sách công ty</a>
            <a href="#" id="blog">Blog</a>
            <button id="btn_login"><a id="btn_login_recruit" href="#">Đăng nhập</a></button>
            <button id="btn_signin"><a id="btn_signin_recruit" href="#">Đăng ký</a></button>
        </nav>

        <div id="rectangle_mid_login">
            <div id="rectangle_form_login">
                <div id="text_welcome_login">Chào mừng bạn trở lại</div>
                <img src="./style/image/text_login_by_account.svg" id="text_login_by_account" alt="text_login_by_account">
                <form action="">
                    <div id="label_email">Email</div>
                    <input type="email" name="email_login_recuit" id="email_login"  required placeholder="Nhập email của bạn">
                    <img src="./style/image/logo_email.svg" id="logo_email" alt="logo_email">
                    <div id="label_password">Mật khẩu</div>
                    <input type="password" name="password_login_recruit" id="password_login"  required placeholder="Nhập mật khẩu">
                    <img src="./style/image/logo_password.svg" id="logo_password" alt="logo_password">
                    <img src="./style/image/eye-slash.svg" id="eye_slash_password" alt="eye_slash_password">
                    <button type="submit" id="submit_form_login">Đăng nhập</button>
                    <div id="or">Hoặc</div>
                </form>
                    <button type="submit" id="submit_login_facebook"></button>
                    <img src="./style/image/ic_facebook.svg" id="ic_facebook" alt="ic_facebook">
                    <button type="submit" id="submit_login_google"></button>
                    <img src="./style/image/ic_google.svg" id="ic_google" alt="ic_google">
                    <div id="text_No_Account">Bạn chưa có tài khoản?
                        <a id="signin_now" href="">Đăng ký ngay</a>
                    </div>
                    <a href="" id="forget_password">Quên mật khẩu</a>
            </div>
            <div id="rectangle_image_login">
                <img src="./style/image/side_login.svg" id="side_login" alt="login">

            </div>
        </div>
        <div class="footer">
            <img id="logo_web_footer" src="./style/image/logo_web.svg" alt="logoweb">
            <p id="text_info_footer">Chúng tôi là JORE hệ thống tìm kiếm việc làm uy tính tại Việt Nam</p>
        </div>
    </div>
   

</body>

</html>