<div class="footer">
    <img id="logo_web_footer" src="/css/style/image/logo_web.svg" alt="logoweb">
    <p id="text_info_footer">Chúng tôi là JORE hệ thống tìm kiếm việc làm uy tính tại Việt Nam</p>
</div>