<nav class="navbar navbar-expand-lg navbar-light header">
    <img id="logo_web" src="/css/style/image/logo_web.svg" alt="logoweb">
    <button id="btn_login_admin"><a id="btn_login_recruit" href="/admin/sign_in">Đăng nhập</a></button>
</nav>