<div class="rectangle_mid_1_candidate">
            <form action="">
                <input type="search" name="search" id="search_job_candidate" placeholder="Tên công việc">
                <img src="/css/style/image/ic_search.svg" alt="ic_search_job_candidate" id="ic_search_job_candidate">
                <select name="select_province" id="select_province_candidate" required="">
                    <option value="" class="op_select_province">Hồ Chí Minh</option>
                    <option value="" class="op_select_province">Hà Nội</option>
                </select>
                <img src="/css/style/image/ic_select_province.svg" alt="ic_select_province_candidate" id="ic_select_province_candidate">
                <input id="address_work_candidate" name="address_work_candidate" type="hidden" value="">
                <select name="select_method_work" id="select_method_work_candidate" required="">
                    <option disabled selected value> Hình thức làm việc </option>
                    <option value="" class="op_select_method_work">Full Time</option>
                    <option value="" class="op_select_method_work">Part Time</option>
                </select>
                <img src="/css/style/image/arrow_down.svg" alt="arrow_down" id="arrow_down_medthod_work">

                <select name="select_level" id="select_level_candidate" required="">
                    <option disabled selected value> Cấp bậc </option>
                    <option value="" class="op_select_level_work">Senior</option>
                    <option value="" class="op_select_level_work">Intern</option>
                </select>
                <img src="/css/style/image/arrow_down.svg" alt="arrow_down" id="arrow_down_level_work">

                <select name="select_experience" id="select_experience_candidate" required="">
                    <option disabled selected value>Kinh nghiệm</option>
                    <option value="" class="op_select_experience_work">Chưa có</option>
                    <option value="" class="op_select_experience_work">1 năm</option>
                </select>
                <img src="/css/style/image/arrow_down.svg" alt="arrow_down" id="arrow_down_experience_work">
                <select name="select_salary" id="select_salary_candidate" required="">
                    <option disabled selected value>Mức lương</option>
                    <option value="" class="op_select_salary_work">&#8805; 5 triệu</option>
                    <option value="" class="op_select_salary_work">&#8805; 10 triệu</option>
                </select>
                <img src="/css/style/image/arrow_down.svg" alt="arrow_down" id="arrow_down_salary_work">
                <button type="submit" id="btn_search_candidate">Tìm kiếm</button>
            </form>
        </div>