<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style/css/css.css" />
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.6.1.js"></script>
    <title>Document</title>
  </head>

  <body>
    <div class="rectangle_home">
      <nav class="navbar navbar-expand-lg navbar-light header">
        <img id="logo_web" src="./style/image/logo_web.svg" alt="logoweb" />
        <a href="#" id="find_job">Tìm việc làm</a>
        <a href="#" id="list_company">Danh sách công ty</a>
        <a href="#" id="blog">Blog</a>
        <button id="btn_login"><a id="btn_login_recruit" href="#">Đăng nhập</a></button>
        <button id="btn_signin"><a id="btn_signin_recruit" href="#">Đăng ký</a></button>
      </nav>

      <div id="rectangle_mid_forget_password">
        <div id="rectangle_form_reset_password">
          <div id="text_setup_password">Đặt lại mật khẩu của bạn</div>
          <div id="text_please_fill">Vui lòng nhập đia chỉ email để khôi phục tài khoản của bạn</div>
          <form action="">
            <div id="label_email_forget_password">Email</div>
            <input type="email" name="email_signin" id="email_forget_password" required placeholder="Nhập email của bạn" />
            <img src="./style/image/logo_email.svg" id="logo_email_forget_password" alt="logo_email_forget_password" />
            <button type="submit" id="submit_forget_password">Gửi</button>
          </form>
        </div>
        <div id="rectangle_image_forget_password">
          <img src="./style/image/side_forget_password.svg" id="side_forget_password" alt="side_forget_password" />
        </div>
      </div>

      <div class="footer">
        <img id="logo_web_footer" src="./style/image/logo_web.svg" alt="logoweb" />
        <p id="text_info_footer">Chúng tôi là JORE hệ thống tìm kiếm việc làm uy tính tại Việt Nam</p>
      </div>
    </div>
  </body>
</html>
