<div id="rectangle_mid_account_authe">
    <div id="rectangle_form_account_authe">
        <div id="text_account_authe">Xác thực tài khoản</div>
        <div id="text_please_fill_code_confirm">Vui lòng kiểm tra email của bạn để lấy mã xác nhận </div>
        <form action="">
            <div id="label_code_confirm">Mã xác nhận</div>
            <input type="text" name="code_confirm_account_employer" id="code_confirm_account" required
                placeholder="Nhập mã xác nhận">
            <button type="submit" id="submit_account_authe">Xác nhận</button>
        </form>

    </div>
    <div id="rectangle_image_account_authe">
        <img src="/css/style/image/side_account_authe.svg" id="side_account_authe" alt="side_account_authe">
    </div>
</div>