<div class="rectangle_mid_news_home_recruit">
    {{> menu}}

    <div id="content_profile_candidate_recruit">
        <div id="head_profie_candidate_recruit">
            <img src="/css/style/image/avatar_candidate.svg" id="avatar_profile_candidate_recruit"
                alt="avatar_profile_candidate_recruit" />
            <div id="name_candidate_recruit">Hồ Duy Bảo</div>
            <div id="status_profile_candidate_recruit">Trạng thái: Chờ duyệt</div>
            <div id="date_submit_profile_candidate_recruit">Ngày nộp hồ sơ: 22/01/2022</div>
            <a id="btn_accept_candidate" href="#">Chấp nhận</a>
            <a id="btn_reject_candidate" href="#">Từ chối</a>
        </div>
        <div id="info_profile_candidate_recruit">
            <div id="text_info_personal">Thông tin cá nhân</div>
            <div id="date_of_birth_profile_candidate_recruit">Ngày sinh: 27/08/2002</div>
            <div id="sex_profile_candidate_recruit">Giới tính: Nam</div>
            <div id="phone_profile_candidate_recruit">SĐT: 0823304385</div>
            <div id="email_profile_candidate_recruit">Email: 20120420@student.hcmus.edu.vn</div>
            <div id="address_profile_candidate_recruit">Địa chỉ: KTX khu B, Đông Hòa, Dĩ An, Bình Dương</div>
            <img src="/css/style/image/ic_upload.svg" id="ic_CV" alt="ic_CV" />
            <a id="CV_profile_candidate" href="b.docx">CV</a>
        </div>
    </div>
</div>