 <div id="rectangle_mid_login">
            <div id="rectangle_form_login">
                <div id="text_welcome_login">Chào mừng bạn trở lại</div>
                <img src="/css/style/image/text_login_by_account.svg" id="text_login_by_account" alt="text_login_by_account">
                <form action="">
                    <div id="label_email">Email</div>
                    <input type="email" name="email_login" id="email_login"  required placeholder="Nhập email của bạn">
                    <img src="/css/style/image/logo_email.svg" id="logo_email" alt="logo_email">
                    <div id="label_password">Mật khẩu</div>
                    <input type="password" name="password_login" id="password_login"  required placeholder="Nhập mật khẩu">
                    <img src="/css/style/image/logo_password.svg" id="logo_password" alt="logo_password">
                    <img src="/css/style/image/eye-slash.svg" id="eye_slash_password" alt="eye_slash_password">
                    <button type="submit" id="submit_form_login">Đăng nhập</button>
                    <div id="or">Hoặc</div>
                </form>
                    <button type="submit" id="submit_login_facebook"></button>
                    <img src="/css/style/image/ic_facebook.svg" id="ic_facebook" alt="ic_facebook">
                    <button type="submit" id="submit_login_google"></button>
                    <img src="/css/style/image/ic_google.svg" id="ic_google" alt="ic_google">
                    <div id="text_No_Account">Bạn chưa có tài khoản?
                        <a id="signin_now" href="">Đăng ký ngay</a>
                    </div>
                    <a href="" id="forget_password">Quên mật khẩu</a>
            </div>
            <div id="rectangle_image_login">
                <img src="/css/style/image/side_login.svg" id="side_login" alt="login">

            </div>
    </div>